#container {
    width: 100%;
    background-color: #FF5460;
    padding: 1rem 0;
}

/* 顶部 */
#main #topArea li {
    width: 7.1rem;
    height: 2rem;
    background: rgba(255, 255, 255, 1);
    border-radius: .12rem;
    margin: .2rem 0 0 .2rem;
    display: flex;
    position: relative;
}

#main #topArea li .content {
    margin: .46rem 0 0 .8rem;
}

#main #topArea li .img {
    width: .4rem;
    height: 1.55rem;
    background-color: rgba(255, 84, 96, 1);
    margin: .23rem 0 0 .8rem;
}

#main #topArea li .title {
    font-size: .36rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
    line-height: .36rem;
}

#main #topArea li .time {
    margin-left: .1rem;
    width: 2.5rem;
    height: .36rem;
    background: rgba(239, 239, 244, 1);
    border-radius: .18rem;
}

#main #topArea li .desc {
    font-size: .2rem;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    line-height: .6rem;
}

#main #topArea li .price {
    font-size: .28rem;
    font-weight: bold;
    color: rgba(255, 84, 96, 1);
    line-height: .31rem;
}

#main #topArea button.topButton {
    width: 1.5rem;
    height: .44rem;
    background: rgba(255, 84, 96, 1);
    border-radius: .22rem;
    color: #fff;
    white-space: nowrap;
    font-size: .1rem;
    position: absolute;
    right: .2rem;
    bottom: .2rem;
}

#main #title {
    font-size: .34rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    line-height: 1rem;
    text-align: center;
}

/* 底部 */
#main #bottomArea {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
}

#main #bottomArea li {
    width: 3.5rem;
    height: 3.8rem;
    background: rgba(255, 255, 255, 1);
    border-radius: .12rem;
    margin-bottom: .1rem;
    position: relative;
}

#main #bottomArea li .processImg {
    width: 1.8rem;
    height: .08rem;
    border: .01rem solid #E5E5E5;
}

#main #bottomArea li .processImg .processing {
    display: block;
    width: 1.13rem;
    height: 100%;
    background-color: #FF2E50;
    border-radius: .02rem;
}

#main #bottomArea li .bottomButtom {
    display: block;
    width: 1.36rem;
    height: .48rem;
    background: rgba(255, 84, 96, 1);
    border-radius: .35rem;
    color: #fff;
    white-space: now    rap;
    font-size: .1rem;
    position: absolute;
    bottom: .2rem;
    right: .2rem;
}

#main #bottomArea li .img {
    display: block;
    width: 2.34rem;
    height: 2.34rem;
    background-color: skyblue;
    margin: .1rem 0 0 .58rem;
}


#main #bottomArea li .contentTitle {
    color: #999999;
    margin-left: .21rem;
}

#main #bottomArea li div {
    margin: .05rem 0 0 .1rem;
}

#main #bottomArea li .process {
    color: #FF5460;
}