#barrier {
    display: none;
    background-color: #000; 
    width: 100%;
    height: 100%;
}

.layer {
    width: 6rem;
    height: 5.35rem;
    background: linear-gradient(135deg, rgba(255, 106, 117, 1), rgba(255, 46, 80, 1));
    border-radius: .12rem;
    position: absolute;
    top: 3.67rem;
    left: .75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layer .close {
    width: .6rem;
    height: .6rem;
    background: rgba(255, 255, 255, 1);
    opacity: 0.5;
    border-radius: 50%;
    text-align: center;
    line-height: .6rem;
    font-size: .5rem;
    position: absolute;
    right: 0;
    top: -0.7rem;
}

 .layer h4 {
    font-size: .6rem;
    font-family: PingFang SC;
    color: #fff;
    line-height: 1.2rem;
}

 .layer .hr {
    width: 5rem;
    height: .02rem;
    background-color: #fff;
}

 .layer .desc {
    text-align: center;
    color: #fff;
    font-size: .3rem;
    line-height: .4rem;
    margin-top: .2rem;
}

 .layer .luckyBox {
    width: 4.8rem;
    height: 1.25rem;
    position: relative;
    margin-top: .1rem;
}

 .layer img {
    width: 4.8rem;
    height: 1.25rem;
}

 .layer .luckyNum {
    position: absolute;
    top: .2rem;
    left: .7rem;
    font-size: .6rem;
    font-family: DIN Black;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
    letter-spacing: .05rem;
}

 .layer p {
    font-size: .3rem;
    color: #fff;
    margin-top: .2rem;
}

 .layer .btn {
    width: 3.34rem;
    height: .7rem;
    background: linear-gradient(90deg, rgba(255, 205, 98, 1), rgba(255, 175, 36, 1));
    border-radius: .35rem;
    color: #fff;
    position: absolute;
    bottom: -0.3rem;
}