body,
html {
  height: 100%;
  width: 100%;
  background: rgba(239, 239, 244, 1);
}

html {
  font-size: .16rem;
}

#header {
  width: 100%;
  line-height: .93rem;
  height: .93rem;
  text-align: center;
}

#header .title {
  width: 1.31rem;
  height: .33rem;
  font-size: .34rem;
  font-family: PingFang SC;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  line-height: .3rem;
}

#top {
  box-sizing: border-box;
  height: 1.34rem;
  width: auto;
  padding: .31rem .2rem 0 .31rem;
}

.top1 {
  width: 100%;
  height: .45rem;
  display: flex;
  justify-content: space-between;
}

.top1>h2 {
  font-size: .40rem;
  font-family: PingFang SC;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
}

.top1>span {
  width: 1.06rem;
  height: .38rem;
  background: rgba(183, 183, 183, 1);
  border-radius: .19rem;
  font-size: .2rem;
  color: rgba(255, 255, 255, 1);
  font-family: PingFang SC;
  font-weight: bold;
  text-align: center;
  line-height: .38rem;
}

.top2>span {
  font-size: .24rem;
  font-family: PingFang SC;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  line-height: .3rem;
}

#award {
  box-sizing: border-box;
  width: auto;
  height: 2rem;
  margin: 0 .2rem;
  background-color: #fff;
  border-radius: .12rem;
  display: flex;
}

.img-box {
  box-sizing: border-box;
  width: 1.8rem;
  height: 1.8rem;
  margin: .1rem;
  background-color: rgb(199, 77, 77);
}

.img-edit>h3 {
  height: .34rem;
  font-size: .36rem;
  font-family: PingFang SC;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  line-height: .36rem;
  margin-top: .41rem;
}

.img-edit>span {
  height: .2rem;
  font-size: .2rem;
  font-family: PingFang SC;
  font-weight: 400;
  color: #333333;
  line-height: .36rem;
  margin-top: .05rem;
}

.img-edit>div {
  height: .26rem;
  font-size: .28rem;
  font-family: PingFang SC;
  font-weight: bold;
  color: rgba(255, 84, 96, 1);
  line-height: .31rem;
  margin-top: .25rem;
}

.massage {
  box-sizing: border-box;
  height: 1.06rem;
  width: 100%;
}

.massage>h2 {
  font-size: .48rem;
  font-family: PingFang SC;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  margin-left: .32rem;
  line-height: 1.06rem;
}

.massage .number {
  color: #FF5460 !important;
}

.code {
  box-sizing: border-box;
  height: .8rem;
  background: rgba(255, 255, 255, 1);
  border-radius: .4rem;
  margin: 0.05rem 0.2rem 0.05rem 0.2rem;
  display: flex;
  justify-content: space-between;
}

.code-number {
  box-sizing: border-box;
  font-size: .4rem;
  font-family: DIN Black;
  font-weight: 400;
  color: rgba(255, 84, 96, 1);
  line-height: .8rem;
  margin-left: .33rem;
}

.code-massage {
  box-sizing: border-box;
  margin-right: .3rem;
}

.code-massage>h5 {
  margin-top: .13rem;
  height: .23rem;
  font-size: .24rem;
  font-family: PingFang SC;
  font-weight: 500;
  color: rgba(102, 102, 102, 1);
  text-align: right;
}

.code-massage>span {
  font-size: .2rem;
  font-family: PingFang SC;
  font-weight: 400;
  color: rgba(153, 153, 153, 1);
}

.showCode{
  width:100%;
  height:.4rem;
  font-size:.24rem;
  font-family:PingFang SC;
  font-weight:bold;
  color:rgba(0,0,0,1);
  line-height:.4rem;
  text-align: center;
}

.button {
  box-sizing: border-box;
  height: 1rem;
  background: linear-gradient(90deg, rgba(255, 115, 125, 1), rgba(255, 71, 84, 1));
  border-radius: .5rem;
  color: #fff;
  text-align: center;
  line-height: 1rem;
  margin: .3rem .2rem 0;
}

.button>span {
  font-size: .38rem;
  font-family: PingFang SC;
  font-weight: bold;
}

.tips{
  width:100%;
height:.42rem;
box-sizing: border-box;
font-size:.2rem;
font-family:PingFang SC;
color:rgba(102,102,102,1);
line-height:.3rem;
padding-top: 0.1rem;
text-align: center;
}

#hot-shops{
  width: 100%;
  height: .8rem;
  padding-top: .4rem;
  line-height: .8rem;
  text-align: center;
}
#hot-shops>h3{
 width:100%;
 height:.34rem;
 font-size:.34rem;
 font-family:PingFang SC;
 font-weight:bold;
 color:rgba(0,0,0,1);
 line-height:.34rem;
 text-align: center;
 margin-bottom: 0.4rem;
}

#hot-shops .h-box{
  width: 7.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content : space-around;
}

.h-box .h-inbox{
  width:3.5rem;
  height:3.5rem;
  background:rgba(25,255,255,1);
  border-radius:.12rem;
  margin: .1rem 0 .1rem 0;
}
