#container {
    width: 100%;
    height: 100%;
    background-color: #EFEFF4;
    position: relative;
}

/* #header {
    width: 7.5rem;
    height: 1.28rem;
    background-color: #F7F7F7;
} */

/* 内容区域 */
#main {
    width: 100%;
    height: 11.72rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main img {
    width: 2rem;
    height: 2rem;
}

#main div {
    margin-top: .59rem;
    font-size: .48rem;
    color: #999;
    text-align: center;
    font-weight: 300;
}

