<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="format-detection" content="telephone=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="x5-page-mode" content="no-title">
  <meta name="x5-fullscreen" content="true">
  <meta name="x5-orientation" content="portrait">
  <title>Document</title>
  <link rel="stylesheet" href="../css/reset.css" type="text/css">
  <link href="../css/integral.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div id="box">
    <!-- 每日抽奖头部 -->
    <div id="header">
      <span class="title">积分兑换</span>
    </div>
    <!-- 内容部分 -->

    <!-- 待开奖信息时间 -->
    <div id="top">
      <div class="top1">
        <h2>待开奖</h2>
        <span>活动规则</span>
      </div>
      <!-- 进度条 -->
      <div class="progress">
        <span></span>
      </div>
      <!-- 参与人数 -->
      <div class="cust_num">
        <span>已参与777人</span>
        <span>还剩340人</span>
      </div>
    </div>
    <!-- 待开奖商品信息 -->
    <div id="award">
      <div class="img-box">
        <img src="" alt="">
      </div>
      <div class="img-edit">
        <h3>一等奖</h3>
        <span>SK-II 护肤精华露（神仙水）230毫升</span>
        <div>价值1300元 共1份</div>
      </div>
    </div>
    <!-- 兑换次数 -->
    <div class="exchange">
      <span class="tip">每消耗**积分获得1个幸运码</span>
      <span class="exc"><span class="exc_name">兑换次数</span><span class="exc_but" id="exc_cut">-</span><span class="num"
          id="exc_num">3</span><span class="exc_but" id="exc_add">+</span></span>
    </div>

    <div class="button" id="exc_req">
      <span>立即使用积分兑换幸运码</span>
    </div>
    <div class="tips">Tips：兑换越多 中奖概率越大哦</div>

    <!-- 幸运码信息 -->
    <section id="codeBox">
      

</section>
<script id="code_data" type="text/template">
  <div class="massage">
    <h2>我已获得<span class="number"><%= code_data.length %></span>个幸运码</h2>
  </div>
  <!-- 幸运码条数信息 -->
  <div class="codeBox" >
    <!-- 单条幸运码信息 -->
    
      <% for(var i=0;i < code_data.length;i++){ %>
    <div class="code">
        <div class="code-number"><%= code_data[i].code %></div>
      <div class="code-massage">
        <h5><%= code_data[i].codeFrom %></h5>
        <span><%= code_data[i].createTime %></span>
      </div>
    </div>
    <% } %>
  </div>
  <% if(code_data.length > 3){ %>
  <div class="showCode" id="showCode">查看所有幸运码</div>
  <% } %>
</script>

    <!-- 热门商品 -->
    <div id="hot-shops">
      <h3>热门商品</h3>
      <div class="h-box">
        <div class="h-inbox">1111</div>
        <div class="h-inbox">2111</div>
        <div class="h-inbox">3111</div>
        <div class="h-inbox">4111</div>
      </div>
    </div>
  </div>
  <div id="box1">
    <div id="clean1">×</div>
    <div id="center1">
      <h1>积分抽奖</h1>
      <span></span>
      <div id="text">
        <p>本次抽奖需要消耗<text id="num_count"></text>个积分</p>
        <p>您确认兑换吗</p>
      </div>
      <div id="button-box">
        <div id="button1_1">确认</div>
        <div id="button1_2">放弃</div>
      </div>
    </div>
  </div>
  <div id="box2">
    <div id="clean2">×</div>
    <div id="center1">
      <h1>积分抽奖</h1>
      <span></span>
      <div id="text">
        <p>很遗憾您的积分不足100积分</p>
        <p>不能参加本期抽奖活动</p>
      </div>
      <div id="button-box2">
        <div id="button2_1">去首页</div>
      </div>
    </div>
  </div>
</body>
<script>
  document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
</script>
<script src="./../lib/ejs.min.js"></script>
<script src="./../lib/jquery.min.js"></script>
<script src="./../js/integral.js"></script>

</html>