<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="x5-page-mode" content="no-title">
    <meta name="x5-fullscreen" content="true">
    <meta name="x5-orientation" content="portrait">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/notwon.css">
    <title>开奖未中奖</title>
    <script>
        document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
    </script>
</head>

<body>
    <div id="box">
        <!-- <header id="header">每日抽奖</header> -->
        <!-- 内容区域 -->
        <section class="inner">
            <div class="title">
                <div class="title-left">
                    <span class="title-isWin">已开奖</span>
                    <span class="title-time">9月19日23:00已开奖</span>
                </div>
                <div class="title-right">
                    <a href="./rules.html" class="title-rule">活动规则</a>
                </div>
            </div>
            <!-- 奖品 -->
            <div id="content">
                <div class="img">123</div>
                <div class="shop-name">SK-II 护肤精华露（神仙水）230毫升</div>
                <div class="shop-msg">价值1300元 共1份</div>
                <div class="msg">
                    很遗憾<br>
                    您与大奖擦肩而过了
                </div>
                <div class="btns">
                    <button id="keep"><a href="./index.html">继续抽奖</a></button>
                    <button id="go-index"><a href="./index.html">逛逛首页</a></button>
                </div>
            </div>
            <div id="footer">
                <span class="list-title">本期中奖名单</span>
                <ul id="winner"></ul>
                <script type="text/template" id="won-list">

                    <% for(var i = 0; i < list.length; i++) {%>
                        <li>
                            <span class="atavar"><%= list[i].atavar %></span>
                            <span class="name"><%= list[i].name %></span>
                            <span class="win-code"><%= list[i].code %></span>
                        </li>
                    <% } %>
                </script>

                </ul>
            </div>
        </section>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="../lib/utils.js"></script>
    <script src="../lib/ejs.min.js"></script>
    <script src="../js/notwon.js"></script>
</body>

</html>