<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="format-detection" content="telephone=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="x5-page-mode" content="no-title">
  <meta name="x5-fullscreen" content="true">
  <meta name="x5-orientation" content="portrait">
  <title>分享页面</title>
  <link rel="stylesheet" href="../css/reset.css" type="text/css">
  <link href="../css/share.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div id="box">
    <!-- 每日抽奖头部 -->
    <div id="header">
      <span class="title">每日抽奖</span>
    </div>
    <!-- 内容部分 -->

    <!-- 待开奖信息时间 -->
    <div id="top">
      <div class="top1">
        <h2>待开奖</h2>
        <span>活动规则</span>
      </div>
      <div class="top2">
        <span>09时00分59秒后自动开奖</span>
      </div>
    </div>
    <!-- 待开奖商品信息 -->
    <div id="award">
      <div class="img-box">
        <img src="" alt="">
      </div>
      <div class="img-edit">
        <h3>一等奖</h3>
        <span>SK-II 护肤精华露（神仙水）230毫升</span>
        <div>价值1300元 共1份</div>
      </div>
    </div>
    <!-- 幸运码信息 -->
    <div class="massage">
      <h2>我已获得<span class="number">1</span>个幸运码</h2>
    </div>
    <!-- 幸运码条数信息 -->
    <div class="codeBox" id="codeBox">
      <!-- 单条幸运码信息 -->
      <script id="code_data" type="text/template">
        <% for(var i=0;i < code_data.length;i++){ %>
      <div class="code">
          <div class="code-number"><%= code_data[i].number%></div>
        <div class="code-massage">
          <h5>邀请好友所得</h5>
          <span><%= code_data[i].time%></span>
        </div>
      </div>
      <% } %>
    </script>
    </div>

    <div class="showCode">查看所有幸运码</div>

    <!-- 邀请按钮 -->
    <div class="button">
      <span>邀请好友 得更多幸运码</span>
    </div>
    <div class="tips">Tips: 邀请好友参加 中奖概率翻倍哦</div>

    <!-- 热门商品 -->
    <div id="hot-shops">
      <h3>热门商品</h3>
      <div class="h-box">
        <div class="h-inbox">1111</div>
        <div class="h-inbox">2111</div>
        <div class="h-inbox">3111</div>
        <div class="h-inbox">4111</div>
      </div>
    </div>
  </div>
</body>
<script>
  document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
</script>
<script src="./../lib/ejs.min.js"></script>
<script src="./../lib/jquery.min.js"></script>
<script src="./../js/share_ejs.js"></script>

</html>