<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="x5-page-mode" content="no-title">
    <meta name="x5-fullscreen" content="true">
    <meta name="x5-orientation" content="portrait">
    <title>每日抽奖</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/waitlottery.css">

</head>

<body>
    <div id="container">
        <!-- 内容区域 -->
        <main id="main">
            <h2>待开奖</h2>
            <!-- 上半部分 -->
            <div id="topShop"></div>
            <script id="top" type="text/template">
                <% if (topData.length) { %>
                <ul id="topArea">
                    <% topData.forEach(function(item){ %>
                    <li>
                        <img src="<%= item.product.productImg%>" alt="" class="img">
                        <div class="content">
                            <p class="title"><%= item.product.productName%></p>
                            <p class="price">价值<%= item.product.salePrice%>元 共<%= item.product.salesVolume%>份</p>
                            <span class="time"><%= utils.resetData(item.product.updateTime)%> 自动开奖</span>
                        </div>
                         <button class="topButton">提升中奖率</button>
                    </li>
                    <% }) %>
                </ul>
                <% } %>
            </script>

            <h2>已开奖</h2>

            <!-- 下半部分 -->
            <div id="bottomShop"></div>
            <script id="bottom" type="text/template">
                <% if (bottomData.length) { %>
                <ul id="bottomArea">
                    <% bottomData.forEach(function(item){ %>
                    <li>
                        <span class="contentLeft"><%= item.product.productName%></span>
                        <span class="contentRight"><%= utils.resetData(item.createTime)%> ›<i></i></span>
                    </li>
                    <% }) %>
                </ul>
                <% } %>
            </script>
        </main>
        <!-- 底部模板 -->
        <footer id="footer"> </footer>
        <script src="../js/footer.ejs" id="footerTemplate" type="text/template">
            <div id="footerContent">
                <div class="button-left">
                    <img src="../img/house.png" alt="">
                    <span class="bottom-text">抽奖首页</span>
                </div>
                <div class="button-right">
                    <img src="../img/small_gift.png" alt="">
                    <span class="bottom-text">我的抽奖</span>
                </div>
            </div>
        </script>
    </div>
</body>
<script src="../js/resetclient.js"></script>
<script src="../lib/jquery.min.js"></script>
<script src="../lib/ejs.min.js"></script>
<script src="../lib/utils.js"></script>
<script src="../js/footer.js"></script>
<script>
    utils.request('/v1/marketing/JiFenDuoBao/GetMyAct', {}, function (rep) {
        console.log(rep);

        if (rep && rep.code == 0) {
            // 顶部数据渲染
            var topData = rep && rep.data && rep.data.joining
            var top = $('#top').html();
            var topArearHtml = ejs.render(top, {
                topData: topData
            });
            $('#topShop').html(topArearHtml);



            // 底部数据渲染
            var bottomData = rep && rep.data && rep.data.joined
            var bottom = $('#bottom').html();
            var bottomAreaHtml = ejs.render(bottom, {
                bottomData: bottomData
            });
            $('#bottomShop').html(bottomAreaHtml);
        }
    });
</script>

</html>